#list-container {
  width: 300px;
}

#list-add-form form {
  display: flex;
}

#list-add-form input {
  flex: 1;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error {
  border: 1px solid red;
}

.error::placeholder {
  color: red;
}
